<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Hitpoints</key>
		<integer>10</integer>
		<key>Speed</key>
		<real>3.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>20</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>30</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>40</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>50</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>60</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>70</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>80</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>90</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>100</integer>
		<key>Speed</key>
		<real>1.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>Hitpoints</key>
		<integer>110</integer>
		<key>Speed</key>
		<real>0.33</real>
		<key>Armor</key>
		<integer>1</integer>
		<key>Livescost</key>
		<integer>1</integer>
		<key>Bonus</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
